@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html,
	body {
		background-color: #333333;
		overflow-x: hidden;
	}

	.bg-gray {
		background-color: #333333;
	}

	.bg-accent {
		background-color: #ffa500;
	}

	.rounded-left {
		border-radius: 0.7rem 1.35rem 1.35rem 0.7rem;
	}
	.rounded-right {
		border-radius: 1.35rem 0.7rem 0.7rem 1.35rem;
	}

	input {
		border: none;
		box-shadow: none;
		text-shadow: none;
	}
	input:focus {
		outline: none;
	}
	input:active {
		outline: none;
	}

	.max-w-xxs {
		max-width: 17rem /* 320px */;
	}

	.text-xxs {
		font-size: 0.5rem /* 12px */;
		line-height: 0.5rem /* 16px */;
	}

	.delete {
		opacity: 0;
		z-index: 0;
	}
	.user-avatar {
		opacity: 1;
		transition: all 0.15s ease;
		z-index: 1;
	}

	.message:hover .delete {
		opacity: 1;
		z-index: 1;
	}
	.message:hover .user-avatar {
		opacity: 0;

		z-index: 0;
	}
}
